#keynote-speakers {
    .grid {
        grid-template-columns: repeat(3, minmax(320px, 1fr));

        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }

        .speaker-card {
            transition: transform 300ms;
            transform: translate(0, 0);

            &:hover {
                transform: translate(2.5rem, -2.5rem);
            }

            .overlay {
                background-color: rgba(black, 0.5);
            }
        }
    }
}
